## messageSource=classpath:/kaccwishlist/messages/email-wishlist_$lang.properties
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end

<html>
	<head>
	</head>
	<body bgcolor="#ffffff">
	<table width="610 border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
		<tr>
			<td>
				<table width="610" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td valign="middle">
										<img src="${ctx.themeResourceUrl}/images/shjcoop.jpg" alt="" width="229" height="72" border="0" align="right" title="" />
									</td>
								</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td align="center" valign="top">
				<table width="610" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#fff">
					<tr>
						<td align="center" valign="top" bgcolor="#FFFFFF">
								<tr>
									<td height="30" align="right" valign="middle" bgcolor="#000000">
                              			<font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><a href="${ctx.secureBaseUrl}/my-account"><font color="#FFFFFF">${ctx.messages.myAccount}</font></a> | <a href="${ctx.baseUrl}/store-finder"><font color="#FFFFFF">${ctx.messages.storeFinder}</font></a> &nbsp;&nbsp;</font>									
                           			</td>
								</tr>
								<tr>
										<td align="left" valign="top">
											</br>
											<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('salutation', ${ctx.receiverName})}</font></p>
											<span><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('sharedShoppingList' , ${ctx.customerName})}</font></span><br/>
											<br/>
											${ctx.printableShoppingList}
											<br/>
											#set ($shjcoopLink = "https://www.shjcoop.ae")
											<span><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('shjcoopLink', "#genHtmlLinkStartTag($shjcoopLink)", "#genHtmlLinkEndTag()")}</font></span><br/>
											<br/>
											#set ($faqPage = "http://www.arabic.shjcoop.ae/en/")
											#set ($emailUs = "info.webstore@shjcoop.ae")
											#set ($agentNumber = "800-73232")
											#set ($paragraphContactUs = ${ctx.messages.getMessage('paragraphContactUs', "#genHtmlLinkStartTag($faqPage)", "#genHtmlLinkEndTag()", "#genHtmlLinkStartTag(${ctx.messages.contactUsPage})", "#genHtmlLinkEndTag()", "#genHtmlLinkStartTag($emailUs)", "#genHtmlLinkEndTag()", "#genHtmlLinkStartTag($agentNumber)", "#genHtmlLinkEndTag()")} )
											<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$paragraphContactUs</font></p>
											<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('seeYou')}</font></p>
											<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('signature')}</font></p>
											</br>
										</td>
									</tr>
								<tr>
									<td height="30" align="right" valign="middle" bgcolor="#000000">
										<font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif" > <a  href="https://itunes.apple.com/"> <img src="${ctx.themeResourceUrl}/images/appStore.png" alt="" width="50" border="0" /></a> 
										| <a  href="https://play.google.com/"> <img src="${ctx.themeResourceUrl}/images/googlePl.jpg" alt="" width="50"  border="0" /></a> 
										| <a href="${ctx.baseUrl}"><font color="#FFFFFF"><a href="${ctx.baseUrl}/termsAndConditions">Terms & Conditions</a></font></a> &nbsp;&nbsp;</font>
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</table>
</body>
</html>