.linkToPopin{	background:#1a618b;        color: #fff;     height: 40px;    padding: 0 10px;   	float : left;		text-align : center;	line-height : 40px;	font-weight : bold; margin : 0 10px 10px 0; text-transform : uppercase;}
.linkToPopin:hover?
.linkToPopin:focus{ color : #fff;}
.linkToPopinDisable{	background: none repeat scroll 0 0 #000;    border: 2px solid #000;    color: #fff;     height: 40px;    padding: 0 10px; 	border-color: #1a618b;    color: #1a618b;	float : left;	background-color : #fff;	text-align : center;	line-height : 40px;	font-weight : bold; margin : 0 10px 10px 0;}
#AddToCart-ShareOnSocialNetworkAction{ width : 100%;}

/* wishlist popin */
.wishListPopin{padding : 20px; }
.wishListPopin h2{	border-bottom: 1px solid #a5a5a5;       font-weight: bold;    height: 33px;    line-height: 39px;    margin: 0 0 20px;    text-transform: uppercase;}
.wishListPopin #idSubmitNewWish{ background:  #1a618b; border : none;    border-radius: 2px;    color: #fff;    display: inline-block;       height: 39px;    line-height: 39px;    padding: 0 15px;    text-transform: uppercase; }
.wishListPopin #idNewWish{ padding : 10px; margin-right : 5px;}
#idSelectOption{ padding : auto 10px; line-height : 40px;  height : 40px; }

#idResultwishlist .errorClass{ padding : 10px; font-size : 12px; text-align : center; font-weight: normalr; background :#D0E9C6; color :#3C763D; margin : 10px 0;  background :#EBCDCD; color :#BF3939; border : 1px solid #BF3939;}
#idResultwishlist .successClass{ padding : 10px; font-size : 12px; text-align : center; font-weight: normalr; background :#D0E9C6; color :#3C763D; margin : 10px; border : 1px solid #3C763D; margin-right : 25px; }


/* end - wishlist popin */



/* CSS FOR PAGE - wishlistLayout */

.my-account-wishlist{ padding : 10px;}
.my-account-wishlist .wishlist {    border-top: 1px dotted #d3d3d3;    float: left;    margin-top: 20px;    padding-top: 10px;    width: 100%;}
.wishlist .title-envie {    font-size: 14px;    font-weight: bold;    text-transform: uppercase;}
.wishlist {  float: left;  border-top: 1px dotted #d3d3d3;  padding-top: 10px;  width: 100%;  margin-top: 20px;}
.wishlist .share {  float: right;  font-size: 0.8125em;}
.wishlist .title-envie {  font-size: 0.875em;  text-transform: uppercase;  font-weight: bold;}
.wishlist .list-content {  padding-top: 20px;}
.wishlist .list-content .pad {  padding: 10px;}
.wishlist .list-content .item-row {  width: 100%;  float: left;}
.wishlist .list-content .item-row.even .context {  background: #fff;}
.wishlist .list-content .item-row .img {  width: 165px;  height: 164px;  float: left;}
.wishlist .list-content .item-row .context {  background: #f4f4f4;  height: 164px;  width: 590px;  float: left;}
.wishlist .list-content .item-row .context .top {  float: left;  width: 100%;  height: 100px;  border-bottom: 1px dotted #d3d3d3;}
.wishlist .list-content .item-row .context .info {  width: 198px;  height: 100px;  position: relative;  float: left;}
.wishlist .list-content .item-row .context .info .date {  font-size: 0.75em;  color: #999999;  display: block;  margin-bottom: 5px;}
.wishlist .list-content .item-row .context .info .description {  color: #333;  font-size: 0.8125em;}
.wishlist .list-content .item-row .context .info .stars {  position: absolute;  bottom: 10px;  width: 100%;}
.wishlist .list-content .item-row .context .info .stars .rating {  float: left;}
.wishlist .list-content .item-row .context .info .stars i.ico.ico-star-off {  width: 16px;  height: 16px;  background-position: -192px -651px;  margin-left: -3px;}
.wishlist .list-content .item-row .context .info .stars i.ico.ico-star-on {  width: 16px;  height: 16px;  background-position: -162px -651px;}
.wishlist .list-content .item-row .context .info .stars .reviewCount {  font-size: 0.8125em;  color: #006699;  padding-left: 10px;}
.wishlist .list-content .item-row .context .info .stars .reviewCount a {  color: #006699;}
.wishlist .list-content .item-row .context .info .stars .reviewCount a:hover {  color: #059bcd;}
.wishlist .list-content .item-row .disponibilty {  width: 112px;  float: left;  text-align: center;  padding-top: 34px;  font-size: 0.8125em;}
.wishlist .list-content .item-row .disponibilty.indisponible {  color: #fc3136;}
.wishlist .list-content .item-row .disponibilty.en-stock {  color: #669933;}
.wishlist .list-content .item-row .disponibilty.en-cours {  color: #ff6600;}
.wishlist .list-content .item-row .price {  width: 87px;  float: left;  text-align: right;  line-height: 80px;  font-size: 0.8125em;}
.wishlist .list-content .item-row .action {  float: right;  width: 160px;  text-align: center;  line-height: 80px;}
.wishlist .list-content .item-row .action a {  font-size: 0.75em;  text-transform: uppercase;  height: 39px;  line-height: 39px;  background: #ff6600;  color: #fff; border-radius: 2px;    display: inline-block; padding: 0 15px;}
.wishlist .list-content .item-row .action a:hover {  background: #fe941e;}
.wishlist .list-content .item-row .action a i {  margin: 12px 5px 0 0;}
.wishlist .list-content .item-row .action a.disable {  cursor: default;  background: #cccccc;}
.wishlist .list-content .item-row .action a.disable:hover {  background: #cccccc;}
.wishlist .list-content .item-row .remove {  float: left;  width: 100%;  text-align: right;}
.wishlist .list-content .item-row .remove a {  font-size: 0.8125em;  color: #333;  margin: 20px 20px;  float: right;  background: url(../images/puce.png) -1px -15px no-repeat;  padding-left: 11px;}
.wishlist .list-content .item-row .remove a:hover {  text-decoration: underline;}

/* END- CSS FOR PAGE - wishlistLayout */

/* page wish list*/

/***************/

.wishListPopin{padding : 20px; }
.wishListPopin h2{	border-bottom: 1px solid #a5a5a5;    font-size: 1.2em;    font-weight: bold;    height: 33px;    line-height: 39px;    margin: 0 0 20px;    text-transform: uppercase;}
.wishListPopin #idSubmitNewWish{ background:  #1a618b; border : none;    border-radius: 2px;    color: #fff;    display: inline-block;    font-size: 0.75em;    height: 39px;    line-height: 39px;    padding: 0 15px;    text-transform: uppercase; }
.wishListPopin #idNewWish{ padding : 10px; margin-right : 5px;}
#idSelectOption{ padding : auto 10px; line-height : 40px;  height : 40px; }
/***************/

.my-account-wishlist{ padding : 10px;}
.my-account-wishlist .wishlist {    border-top: 1px dotted #d3d3d3;    float: left;    margin-top: 20px;    padding-top: 10px;    width: 100%;}
.wishlist .title-envie {    font-size: 14px;    font-weight: bold;    text-transform: uppercase;}
.wishlist {  float: left;  border-top: 1px dotted #d3d3d3;  padding-top: 10px;  width: 100%;  margin-top: 20px;}
.wishlist .share {  float: right;  font-size: 12px;}
.wishlist .title-envie {   font-size: 14px;  text-transform: uppercase;  font-weight: bold;}
.wishlist .list-content {  padding-top: 20px;}
.wishlist .list-content .pad {  padding: 10px;}
.wishlist .list-content .item-row {  width: 100%;  float: left; border-bottom : 1px solid #E5E5E5;}
.wishlist .list-content .item-row.even .context {  background: #fff;}
.wishlist .list-content .item-row .img {  width: 165px;  height: 164px;  float: left;}
.wishlist .list-content .item-row .context {  background: #f4f4f4;  height: 164px;  width: 605px;  float: left;}
.wishlist .list-content .item-row .context .top {  float: left;  width: 100%;  height: 100px;  border-bottom: 1px dotted #d3d3d3;}
.wishlist .list-content .item-row .context .info {  width: 198px;  height: 100px;  position: relative;  float: left;}
.wishlist .list-content .item-row .context .info .date {  font-size:12px;  color: #999999;  display: block;  margin-bottom: 5px;}
.wishlist .list-content .item-row .context .info .description {  color: #333;  font-size: 12px;}
.wishlist .list-content .item-row .context .info .stars {  position: absolute;  bottom: 10px;  width: 100%;}
.wishlist .list-content .item-row .context .info .stars .rating {  float: left; width: 85px;}
.wishlist .list-content .item-row .context .info .stars i.ico.ico-star-off {  width: 16px;  height: 16px;  background-position: -192px -651px;  margin-left: -3px; display: inline-block;}
.wishlist .list-content .item-row .context .info .stars i.ico.ico-star-on {  width: 16px;  height: 16px;  background-position: -162px -651px; display: inline-block;}
.wishlist .list-content .item-row .context .info .stars .reviewCount {   color: #006699;  padding-left: 10px;}
.wishlist .list-content .item-row .context .info .stars .reviewCount a {  color: #006699;}
.wishlist .list-content .item-row .context .info .stars .reviewCount a:hover {  color: #059bcd;}
.wishlist .list-content .item-row .disponibilty {  width: 112px;  float: left;  text-align: center;  padding-top: 30px;}

.wishlist .list-content .item-row .disponibilty.indisponible {  color: #fc3136;}
.wishlist .list-content .item-row .disponibilty.disponible {  color: #669933;}
.wishlist .list-content .item-row .disponibilty.en-cours {  color: #ff6600;}
.wishlist .list-content .item-row .price {  width: 87px;  float: left;  text-align: left;  line-height: 85px;  font-size: 12px;}
.wishlist .list-content .item-row .action {  float: right;  width: 125px;  text-align: center;  line-height: 80px;  padding-top: 10px;}
.wishlist .list-content .item-row .action a {    text-transform: uppercase;  height: 39px;  line-height: 39px;  background: #1A618B;  color: #fff; border-radius: 2px;    display: inline-block; padding: 0 15px;}
.wishlist .list-content .item-row .action a:hover {  background: #fe941e;}
.wishlist .list-content .item-row .action a i {  margin: 12px 5px 0 0;}
.wishlist .list-content .item-row .action a.disable {  cursor: default;  background: #cccccc;}
.wishlist .list-content .item-row .action a.disable:hover {  background: #cccccc;}
.wishlist .list-content .item-row .remove {  float: right;  width: 150px;  text-align: right; padding-top: 10 px;}
.wishlist .list-content .item-row .remove a {  color: #333;  margin: 20px 20px;  float: right;  background: url(../images/puce.png) -1px -15px no-repeat;  padding-left: 11px;}
.wishlist .list-content .item-row .remove a:hover {  text-decoration: underline;}

.pager {    background: none repeat scroll 0 0 #f4f4f4;    float: left;    height: 30px;    line-height: 30px;    margin: 20px 0;    padding-bottom: 5px;    text-align: center;    width: 100%;}
.pager a {    color: #333;    display: inline-block;       height: 18px;    line-height: 18px;    margin: 0 2px;    min-width: 18px;}
.pager a i{ font-size : 14px;}
.pager a.active {    background: none repeat scroll 0 0 #059bcd;    color: #fff;}
.pager a.prev {    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);    padding-top: 5px;}
.pager a.next {    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);    padding-top: 5px;}

.addWishList input{ float : right; background:  #1a618b; border : none;    border-radius: 2px;    color: #fff;    display: inline-block;       height: 39px;    line-height: 39px;    padding: 0 15px;    text-transform: uppercase; }
.addWishList select{ font-size : 13px; line-height : 40px; height : 40px; padding : auto 10px;}

.itemAdded{  width : 360px; margin : 20px; overflow : hidden;}
.itemAdded img{ flaot : left; margin: 0 10px 0 0;}
.itemAdded p{ font-size : 14px;  }
.itemAdded span{ float : right; width : 245px;color : #666;  }

.itemAdded span a{ display : block; color : #333; font-weight: bold;}

#idLoginhref{ color : #1f8ccd; }
.addWishlistPopinLink{ text-transform : uppercase;}
.errorValidation{ color : red;}

#whishConfirmationMssg{ clear : both;}
#whishConfirmationBtn{ clear : both;}
.errorInput{ border : 1px solid red;}
.errorInputShare{ border : 1px solid red;}
.errorValidation{ display : none}

.errorValidationEmpty {color: red; display: none;}
.errorValidationUnique {color: red; display: none;}
.errorSize {color: red; display: none;}
.errorSizeMsg {color: red; display: none;}
.errorSizeMessage {color: red; display: none;}
.errorMaxCharacter {color: red; display: none;}

#init-pwd-popin{ padding : 20px;}
#init-pwd-popin button{ background-color: #1a618b; color :#FFF; border : none;}

#whishConfirmationMssg{ display : none; visibility: hidden;}
#whishConfirmationMssg.whishConfirmationMssgVisible{ display : block; visibility: visible; padding-top : 10px;}

#whishConfirmationBtn button{ border : none; background : #1a618b; color : #fff;   float : right; }

#whishConfirmationMssg button.confirmDelete { border : none; background : #1a618b; color : #fff; float : right;  margin-top : 0; }
#whishConfirmationMssg button.cancelDelete {  background: none repeat scroll 0 0 #fff;    border: 2px solid #1a618b;    color: #1a618b;  float : right; margin-top : 0; }
#whishConfirmationMssg p{ margin-bottom : 5px; }
#whishConfirmationMssg p span{float: left;    padding-top: 16px;}

#partage-form{ padding : 20px; width : 300px; margin : auto; }
#partage-form .emailContent{ margin : 10px  0;}
#partage-form #email, 
#partage-form #message { width : 280px; padding : 10px;}
#partage-form label.checkbox{ width : 100%; display : block;}
#partage-form .btn-primary{ background:#1a618b;    border:  none;    color: #fff;}


.wishListPopin #idCreateWishlist{  background : #1a618b; color : #fff; height: 32px; padding : 0 5px;  border : none;}
.wishListPopin #idNewWishName{ padding : 7px;}
.shareSocialMediaStyle {padding-left: 95px;}

.wishlistEntryRatingClass{float: left; padding-left: 20px;  padding-top: 20px;}
.linkToPopin.varchar{ border : none; background : #999; color : #fff; cursor: default;}
.linkToPopinDisable.varchar{ border : none; background : #999; color : #fff; cursor: default;}