//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//                       COLORS PALLET
//************************************************************
//************************************************************
//************************************************************
//************************************************************
//************************************************************
@brand-primary: @color-thunder;
@brand-secondary: #929292;

//*********Z-index*********
@z-index-account-menu: 2;
@z-index-carousel-arrow: 1;
@z-index-navigation-menu: 3;
@z-index-sticker: 1;
@z-index-carousel-hover: 1;

//*********fonts*********
@font-family-base : 'playfair-display-regular';

//*********Typography Colors*********
@text-color: @color-thunder;
@text-color-secondary: @color-carnation;
@text-color-tertiary: @color-rolling-stone;
@link-color: @text-color;
@link-color-secondary: @text-color-secondary;
@link-color-tertiary: @text-color-tertiary;
@headline-color: @text-color;

//*********Base Colors*********
@color-primary : @color-thunder;
@color-secondary: @color-carnation;
@color-tertiary: @color-rolling-stone;

//== Borders
@border-color: #d9d9d9;
@border-color-2: #e5e5e5;
@border-color-3: #cccccc;

//*********form colors*********
@label-color: @brand-secondary;
@input-color: @text-color;
@input-border-color: @border-color-3;
@placeholder-color: @brand-secondary;

//** Border color for inputs on focus
@input-border-focus: @brand-primary;

//** Border color for inputs on error
@input-error: #fd7b7b;

//** Background color for inputs on error
@input-error-bg: #fec3c3;

//** color for error text
@input-error-text: #ED1C24;
@input-success: @border-color-3;
@input-success-bg: transparent;
@input-success-text: #00A651;

//*********Header Background*********
@header-background-color: @color-concrete;
@nav-background-color: @color-concrete;
@nav-border-color: @border-color;

//*********Secondary Navigation colors*********
//Background color for My Account and My Company dropdowns
@meta-nav-color: @brand-primary;
@meta-nav-color-open: #ffffff;
@meta-nav-color-open-desktop: @color-black;
@meta-nav-hover-color: darken(@brand-primary, 20%);
@meta-nav-border-color: @color-alto;
@meta-nav-background: @color-mercury;
@meta-nav-hover-background: lighten(@meta-nav-background, 20%);

//*********Search*********
@searchbar-icon-color: @text-color;
@check-box-bg: #ffffff;

//********* icon navigation colors*********
@nav-icon-color: @brand-primary;
@nav-icon-color-secondary: @btn-primary-bg;
@nav-icon-hover-background: @border-color-2;

//*********Header Navigation-Categories Background*********
@nav-cat-background: #142939;
@nav-cat-border: @nav-cat-background;
@nav-cat-hover-background: #1e3d55;
@nav-cat-link-color: @link-color;
@nav-subcat-color: @text-color;
@nav-subcat-title-color: @color-thunder;
@nav-subcat-background: @header-background-color;
@nav-subcat-border-color: @border-color-2;
@nav-subcat-hover-background: @border-color-2;

//*********Header promo banner colors*********
@color-promo-banner-bg: @color-emerald;
@color-promo-banner-close-bg-mobile : transparent;
@color-promo-banner-close-mobile : transparent;
@color-promo-banner-close-bg-desktop : @color-ocean-green;
@color-promo-banner-close-desktop : transparent;

//*********Offcanvas navigation colors*********
@offcanvas-nav-header-color: @color-white;
@offcanvas-nav-header-background: @color-carnation;
@offcanvas-nav-disabled: @brand-secondary;
@offcanvas-meta-nav-color: @color-thunder;
@offcanvas-meta-nav-border-color: @meta-nav-border-color;
@offcanvas-meta-nav-background: @color-white;
@offcanvas-meta-nav-background-open: @meta-nav-background;
@offcanvas-meta-nav-hover-background: @meta-nav-hover-background;
@offcanvas-nav-cat-color: @link-color;
@offcanvas-nav-cat-title-color: rgba(0, 0, 0, 0.7);
@offcanvas-nav-cat-background: @color-concrete;
@offcanvas-nav-cat-border-color: @border-color-2;
@offcanvas-nav-cat-hover-background: @border-color-2;

//*********reassurance delivery block colors*********
@color-reassurance-bg : @color-concrete;
@color-reassurance-delivery-label : @color-carnation;

//*********Breadcrumbs Colors*********
@breadcrumb-bg: @border-color;


//*********Footer colors*********
@footer-background: @nav-cat-background;
@footer-text-color: #ffffff;
@footer-border-color: @nav-cat-hover-background;
@copyright-background: #ffffff;
@copyright-color: @text-color;

//*********Well colors*********
@well-secondary-bg: lighten(@brand-primary, 60%); //#e6f0fa;
@well-quaternary-bg: #f2f2f2;

//Item colors
@item-promo-color: #00A651;
@item-sale-color: #ED1C24;
@item-sale-price-color: @brand-secondary;



//== Tables
@table-2n-line-bg: #f4f4f4;
@table-head-bg: @nav-cat-background;
@table-head-color: #7f919e;
@table-head-border-color: #334b5c;
@table-border-color: @border-color-2;
@table-expand-bg: #e4e4e4;
@cart-product-table-head-color: @table-expand-bg;

//== List
@list-active-bg: #e6f0fb;


//== Pagination
@pagination-active-color: #a6a6a6;
@pagination-font-weight: 600;

@pagination-disabled-color: @pagination-active-color;
@pagination-hover-color: @pagination-active-color;

@pagination-prev-next-hover-bg: @btn-primary-bg;
@pagination-prev-next-hover-color: @btn-primary-color;


//*********Button Colors*********
//Primary Button State
@btn-primary-color: #ffffff;
@btn-primary-bg: @brand-primary;
@btn-primary-border: @brand-primary;
@btn-primary-hover-color: @brand-primary;
@btn-primary-hover-border: @brand-primary;
@btn-primary-hover-background: #ffffff;
@btn-primary-disabled-bg: #8cbbdd;

//Secondary Button State
@btn-default-color: #ffffff;
@btn-default-bg: @brand-secondary;
@btn-default-border: @brand-secondary;
@btn-default-hover-color: @brand-secondary;
@btn-default-hover-border: @brand-secondary;
@btn-default-hover-background: #ffffff;
@btn-default-disabled-bg: @border-color-3;

//*********Accordion Colors*********
@accordion-bg: #000000;

//*********Modal Colors*********
@modal-close-btn-color: @brand-secondary;

//*********Account Colors*********
@account-subheadline-bg: @header-background-color;

//*********checkout*********
@steps-color: @text-color;
@steps-background: @header-background-color;
@steps-color-active: @steps-color;
@steps-background-active: #e4e4e4;
@steps-border-active: @border-color-3;
@checkout-icon: @border-color-3;
@checkout-list-head-bg: @table-head-bg;
@checkout-list-head-color: #ffffff;
@checkout-list-head-border: @table-head-bg;


//*********Coupon Colors*********
@coupon-list-item-border: @border-color-3;
@coupon-list-item-bg: @table-2n-line-bg;
@coupon-list-item-remove-icon: #cdcdcd;

@grayblue: #F2F4F7;

//*********Mini cart*********
@cart-bg-color : @color-white;
@cart-color: @color-thunder;
@cart-color-link: @color-carnation;
@cart-borders-color: @color-concrete;
@cart-loader-img: 'spinner.gif';
@cart-totals-bg-color : @color-concrete;
@cart-totals-line-bottom-color: @color-alto;
@cart-totals-line-top-color: @color-white;
