@import '../../common/less/variables.common.less';
@import 'theme-variables.less';
//==== FONTS ====
@fonts-array-theme : roboto-regular,
roboto-black,
roboto-bold,
roboto-light,
roboto-medium,
roboto-thin,
playfairdisplay-bold,
playfairdisplay-regular;

@fonts: @fonts-array-theme;
//==== END FONTS ====
@base-width-mobile : 640px;
@base-width-tablet : 640px;
@base-width-desktop : 1920px;
@font-size-base : 26px;
@font-size-base-tablet : 24px;
@font-size-base-desktop : 24pxi;

@wrapper-desktop-lg : @base-width-desktop;

@wrapper-page-content-width-mobile :100%;
@wrapper-page-content-width-desktop : 72.92%;

.small-text() {
	font-size: 32px;
	@media @mquery-desktop {
		font-size: 20px;
	}
}

.large-text() {
	font-size: 32px;
	@media @mquery-desktop {
		font-size: 20px;
	}
}

.title() {
	display: block;
	float: left;
	font-weight: bold;
	width: 100%;
}
.small-title() {
	.small-text();
	.title();
}

.large-title() {
	.large-text();
	.title();
}
