.button {
	border-radius: 6px;
	color: @text-color;
	cursor: pointer;
	display: inline-block;
	font-size: 0.77rem;
	font-weight: inherit;
	padding: 1em 2em;
	text-align: center;
	transition: 0.5s all;
	&--align {
		&-center {
			margin: auto;
		}
	}
	&--bold {
		font-weight: bold;
	}
	&--primary {
		background-color: @color-white;
		border: 1px solid @color-white;
		color: @color-primary;
	}
	&--secondary {
		background-color: @color-secondary;
		border: 1px solid @color-secondary;
		color: @color-white;
	}
	&--tertiary {
		background-color: transparent;
		border: 1px solid fade(@text-color, 50%);
		color: fade(@text-color, 50%);
		.icon {
			opacity: 0.5;
		}
	}
	&--full {
		display: block;
		width: 100%;
	}
	&--medium {
		padding: 0.5rem 1rem;
	}
	&--small {
		font-size: 0.7rem;
		padding: 0.5rem 1rem;
	}
	&.disabled,
	&:disabled {
		cursor: not-allowed;
		opacity: 0.6;
		pointer-events: none;
	}
}
