.carousel {
	&--brand {
		margin: auto auto auto 40px;
		@media @mquery-desktop {
			margin: 0 16%;
		}
		&--wrapper {
			background: url('@{img-theme-path}backgrounds/bg-hp-block-ourBrands-xs.jpg') no-repeat 0 0;
			background-size: 100% 100%;
			margin: 0;
			overflow: hidden;
			padding: 0;
			@media @mquery-desktop {
				background: url('@{img-theme-path}backgrounds/bg-hp-block-ourBrands-lg.jpg') no-repeat center center;
				background-size: 100% 100%;
				padding: 0 0 144px;
			}
			.carousel--headline {
				color: @color-white;
			}
		}
		.slick-slide,
		>.yCmsComponent {
			margin: 0 24px 0 0;
			width: 234px;
			@media @mquery-desktop {
				margin: 0 12px 0 0;
			}
		}
		.slick-dots {
			background-color: transparent;
			display: block;
			margin: 60px auto 60px;
			padding: 0;
			text-align: center;
			width: 100%;
			@media @mquery-desktop {
				margin: auto;
				position: absolute;
				bottom: -80px;
			}
			button {
				background: transparent;
				border: 1px solid @color-edward;
				border-radius: 50%;
				color: transparent;
				cursor: pointer;
				display: block;
				font-size: 0;
				outline: 0;
				padding: 50%;
			}
			li {
				display: inline-block;
				margin: 10px;
				position: relative;
				width: 16px;
				&.slick-active {
					button {
						background-color: @color-white;
					}
				}
			}
		}
		.slick-list {
			width: 100%;
		}
	}
	&--category {
		margin: auto auto auto 40px;
		@media @mquery-desktop {
			margin: 0 16%;
		}
		&--wrapper {
			background: url('@{img-theme-path}backgrounds/bg-hp-block-category-xs.jpg') no-repeat center center;
			background-size: 100% 100%;
			margin: 0;
			overflow: hidden;
			padding: 0;
			@media @mquery-desktop {
				background: url('@{img-theme-path}backgrounds/bg-hp-block-category-lg.jpg') no-repeat center center;
				background-size: 100% 100%;
				padding: 0 0 144px;
			}
			.carousel--headline {
				color: @color-white;
			}
		}
		&.not-slicked {
			@media @mquery-desktop {
				display: flex;
				flex-direction: row;
			}
		}
		.slick-slide,
		>.yCmsComponent {
			margin: 0 24px 0 0;
			width: 468px;
			@media @mquery-desktop {
				margin: 0 12px 0 0;
				width: 234px;
			}
		}
		.slick-dots {
			background-color: transparent;
			display: block;
			margin: 60px auto 60px;
			padding: 0;
			text-align: center;
			width: 100%;
			@media @mquery-desktop {
				bottom: -80px;
				margin: auto;
				position: absolute;
			}
			button {
				background: transparent;
				border: 1px solid @color-edward;
				border-radius: 50%;
				color: transparent;
				cursor: pointer;
				display: block;
				font-size: 0;
				outline: 0;
				padding: 50%;
			}
			li {
				display: inline-block;
				margin: 10px;
				position: relative;
				width: 16px;
				&.slick-active {
					button {
						background-color: @color-white;
					}
				}
			}
		}
	}
	&--headline {
		font-family: PlayfairDisplay;
		font-size: 56px;
		font-weight: bold;
		margin: 0 auto 115px;
		padding: 70px 1em 0;
		position: relative;
		text-align: center;
		&:after {
			background: @color-carnation;
			bottom: -35px;
			content: '';
			height: 1pxi;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
			width: 94px;
		}
	}
	&--simple-banner {
		.slick-arrow {
			.valign(50%,
			inherit);
		}
		.slick-dots {
			background-color: @color-thunder;
			bottom: 0;
			display: block;
			margin: inherit;
			opacity: 0.5;
			padding: 55px 0;
			position: absolute;
			text-align: center;
			width: 100%;
			button {
				background: transparent;
				border: 1px solid @color-white;
				border-radius: 50%;
				color: transparent;
				cursor: pointer;
				display: block;
				font-size: 0;
				outline: 0;
				padding: 50%;
			}
			li {
				display: inline-block;
				margin: 10px;
				position: relative;
				width: 16px;
				&.slick-active {
					button {
						background-color: @color-white;
					}
				}
			}
		}
		.slick-list {
			margin: 0;
		}
		.slick-next {
			/*rtl:ignore*/
			left: inherit;
			/*rtl:ignore*/
			right: 70px;
		}
		.slick-prev {
			/*rtl:ignore*/
			left: 70px;
			/*rtl:ignore*/
			right: inherit;
		}
		.slick-slide {
			img {
				border-radius: 0;
			}
		}
	}
	&--pdp {
		border: 1px solid @border-color;
		height: 100%;
		margin: auto;
		width: 92.65%;
		.item {
			height: 100%;
			width: 100%;
		}
		.slick-dots {
			background-color: transparent;
			display: block;
			margin: 0 auto 60px;
			padding: 0;
			text-align: center;
			width: 100%;
			@media @mquery-desktop {
				bottom: -60px;
				margin: 0 auto 30px;
				position: absolute;
			}
			button {
				background: transparent;
				border: 1px solid @color-gray-nickel;
				border-radius: 50%;
				color: transparent;
				cursor: pointer;
				display: block;
				font-size: 0;
				outline: 0;
				padding: 50%;
			}
			li {
				display: inline-block;
				margin: 10px;
				position: relative;
				width: 16px;
				&.slick-active {
					button {
						background-color: @color-de-york;
					}
				}
			}
		}
	}
	&--product {
		margin: auto auto auto 40px; // @media screen and (max-width: 480px) {
		// 	margin: 7% auto;
		// }
		&.not-slicked {
			@media @mquery-desktop {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				margin: 0 16% 120px;
			}
			.product-tile {
				@media @mquery-desktop {
					margin: 0 0 1rem;
					width: 20%;
				}
			}
		}
		.slick-dots {
			background-color: transparent;
			display: block;
			margin: 0 auto 60px;
			padding: 0;
			text-align: center;
			width: 100%;
			@media @mquery-desktop {
				bottom: -60px;
				margin: 0 auto 30px;
				position: absolute;
			}
			button {
				background: transparent;
				border: 1px solid @color-gray-nickel;
				border-radius: 50%;
				color: transparent;
				cursor: pointer;
				display: block;
				font-size: 0;
				outline: 0;
				padding: 50%;
			}
			li {
				display: inline-block;
				margin: 10px;
				position: relative;
				width: 16px;
				&.slick-active {
					button {
						background-color: @color-de-york;
					}
				}
			}
		}
		.slick-list {
			padding: 16px 6px;
			@media @mquery-desktop {
				margin: 0 15% 70px;
			}
		}
		.price--sticker {
			border-radius: 4px;
			font-size: 22.8px;
		}
	}
	.banner {
		img {
			border-radius: 7px;
			display: block;
			height: auto;
		}
	}
	.slick-initialized {
		.slick-arrow {
			cursor: pointer;
			.valign(42%,
			inherit);
			width: unit((26px / 1920px) * 100, %);
		}
		.slick-next {
			/*rtl:ignore*/
			left: inherit;
			/*rtl:ignore*/
			right: 11%;
		}
		.slick-prev {
			/*rtl:ignore*/
			left: 11%;
			/*rtl:ignore*/
			right: inherit;
		}
		.slick-track {
			@media @mquery-desktop {
				display: flex;
				justify-content: space-between;
				margin: auto;
			}
		}
	}
	img {
		height: auto;
		width: 100%;
	}
	.rtl & {
		direction: initial;
		&--product {
			&.not-slicked {
				direction: rtl;
			}
		}
	}
}

.js {
	.js-carousel {
		opacity: 0;
		&.not-slicked {
			opacity: 1;
		}
	}
}
