.global-alerts {
	font-family: 'roboto-light';
	font-size: 30px;
	font-weight: inherit;
	text-align: center;
	@media @mquery-desktop {
		font-size: 20px;
	}
	.alert-danger {
		color: red;
	}
	.alert {
		padding: 1rem 2rem 1rem 1rem;
		position: relative;
		@media @mquery-desktop {
			padding-right: 3rem;
		}
		.close {
			position: absolute;
			right: 1rem;
			top: 50%;
			transform: translateY(-50%);
			width: 1em;
		}
	}
	.alert-msg {
		padding: 1rem 2rem 1rem 1rem;
		position: relative;
		@media @mquery-desktop {
			padding-right: 3rem;
		}
		.close {
			position: absolute;
			right: 1rem;
			top: 50%;
			transform: translateY(-50%);
			width: 1em;
		}
	}
}
