.glyphicon {
	&-user {
		&:before {
			background: url('@{img-theme-path}glyphicons/profile.png') no-repeat center center;
			background-size: 100%;
			content: '';
			display: block;
			height: 100%;
			width: 100%;
		}
	}
}
