.navigation-menu {
	left: 0;
	opacity: 0.94;
	position: fixed;
	top: 0;
	width: 100%;
	@media @mquery-desktop {
		background-color: @nav-background-color;
		display: none;
		top: inherit;
		z-index: @z-index-navigation-menu;
	}
	&--bottom {
		@media (max-width: @screen-sm-max) {
			height: 100vh;
		} // .nav__links--products {
		// 	li.liUserSign {
		// 		a.userSign {
		// 			display: block;
		// 			width: inherit;
		// 		}
		// 	}
		// }
	} // .offcanvas & {
	// 	.sticky-nav-top {
	// 		overflow: hidden;
	// 		position: relative;
	// 		top: inherit;
	// 	}
	// }
}
.banner__component.banner:nth-of-type(1) {
	margin-bottom: 28px;
}
