.navigation-shopping {
	display: inline-block;
	font-family: 'roboto-regular', arial, sans-serif;
	font-size: 16px;
	margin-left: 1em;
	.icon {
		display: inline-block;
		height: 1.75em;
		left: 0;
		margin-right: 0.5em;
		.valign(50%);
		width: 1.75em;
		@media @mquery-desktop {
			height: 24px;
			width: 24px;
		}
		&--cart {
			@media @mquery-desktop {
				height: 28px;
				width: 28px;
			}
		}
	}
	.item {
		position: relative;
	}
	ul {
		align-items: flex-end;
		display: flex;
		height: 3.6em;
		list-style: none;
		>li {
			flex: 1 2 auto;
			position: relative;
			&:after {
				border-right: 1px solid @color-carnation;
				content: '';
				display: block;
				height: 1em;
				right: 0;
				.valign(50%, inherit);
				width: 0;
			}
			&:nth-child(1) {
				.icon {
					margin-left: 0;
				}
				a {
					padding: 0 2em 0 0;
				}
			}
			a {
				margin-left: 2em;
			}
		}
		li:last-child:after {
			content: none;
		}
	}
}
