.product-nutrition {
	padding: 5% 3.5% 7%;
	text-align: center;
	@media screen and @mquery-desktop-min {
		margin: 0 23%;
		padding: 5% 6.5% 7%;
	}
	&--container {
		background: url('@{img-theme-path}/nutrition/nutrition_template.png') no-repeat 0 0;
		background-position: center;
		background-size: cover;
		display: inline-block;
		display: flex;
		height: 7.1rem;
		justify-content: space-around;
		width: 100%;
		&-category {
			border-radius: 50% 50% 0 0;
			color: @color-white;
			display: inline-block;
			margin: -0.12em;
			padding-top: 18pxi;
			text-align: center;
			width: 17%;
			&-title {
				font-size: 14px;
				font-weight: 900;
				margin-bottom: 0;
				text-transform: uppercase;
			}
			&-info {
				display: flex;
				flex-direction: column;
				font-size: 16px;
				height: 75%;
				justify-content: space-between;
				padding-bottom: 10%;
				padding-top: 11px;
				span {
					&:last-child {
						font-size: 20px;
						font-weight: 900;
					}
					&:first-child {
						padding-bottom: 7px;
					}
				}
			}
		}
	}
	&>p {
		font-family: PlayfairDisplay;
		font-size: 1.5rem;
		font-weight: bold;
	}
	.title {
			font-family: 'PlayfairDisplay-bold', arial, sans-serif;
			font-size: 40px;
	}
}
