.search-box {
	form {
		.input-group {
			display: flex;
			flex-direction: row;
			.form-control {
				z-index: inherit;
			}
			.input-group-btn {
				background-color: @color-carnation;
				display: inline-block;
				width: 120px;
				@media screen and @mquery-desktop-min {
					border-radius: 0 5px 5px 0;
					width: 11%;
				}
				&:last-child>.btn {
					z-index: 0;
				}
				.icon {
					margin: auto;
					width: 80%;
				}
				.icon--search-white {
					.btn-link {
						height: 100%;
						width: 100%;
						&:hover {
							background-color: transparent;
						}
						&:active {
							background-color: transparent;
							outline: none;
						}
						&:focus {
							background-color: transparent;
							outline: none;
						}
					}
				}
			}
			input {
				background-color: @color-white;
				font-color: @color-bombay;
				font-family: 'roboto-light', arial, sans-serif;
				font-size: 32px;
				padding: 30px 27px; // width: 82.5%;
				@media screen and @mquery-desktop-min {
					border: 0;
					border-radius: 5px 0 0 5px;
					box-shadow: 0;
					font-size: 16px; // line-height: 3.6em;
					padding: 23px 49px;
					width: 89%;
				}
				.customPlaceholder(@color-bombay,
				32px,
				roboto-light);
			}

			@media screen and @mquery-desktop-min {
				input {
					.customPlaceholder(@color-bombay,
					16px,
					roboto-light);
				}
			}
		}
	}
}
