.page-notFound {
	.global-alerts{
		display: none;
	}
	#wrapper-content {
		border: 2px solid @border-color-2;
	    border-radius: 6px;
	    margin: 1.3rem auto;
	    padding: 22px;
	    width: 80%;
	    @media @mquery-desktop {
			width: 40%;
		}
	    .error--title {
	    	margin-bottom: 20px;
	    	text-align: center;
	    	h1 {
    			font-family: PlayfairDisplay-Bold;
    			font-size: 2.9rem;
    			margin: 0 0 10px 0;
    			text-align: center;
	    	}
	    	hr {
				border-color: @color-carnation;
				width: 10%;
			}
	    }
	    .error--home--message {
	    	font-family: Roboto;
	    	strong {
				font-family: PlayfairDisplay;
				font-size: 1.6rem;
			}
	    }
	    div {
    		text-align: center;
    		a {
    			font-size: 0.7rem;
    			font-weight: bold;
			    padding: 0.7em 1.5em;
			    &:focus {
			    	color: @color-white;
			    	text-decoration: none;
			    }
			    &:hover {
			    	color: @color-white;
			    }
    		}
    	}
	}
}
