.account-section-header {
    border-bottom: 1px solid @color-concrete;
	font-family: @font-family-base;
	font-size: 1.5384615384615383rem;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}
.account-addressbook {
	clear: both;
	overflow: hidden;
}
.cardsAddressBook {
	margin: 1rem auto;
	overflow: hidden;
	.cardAddress {
		margin: 0;
		padding: 0;
		.cardDetailsAddress {
		   background: @color-white;
		   border: 1px solid @color-dusty-gray;
		   font-size: 1rem;
		   height: 22rem;
		   margin: 0.35rem;
		   overflow: hidden;
		   padding: 1rem 1rem 3rem 1rem;
		   position: relative;
		   text-align: left;
		   .cardDefault {
		   	color: @color-carnation;
		   	font-size: 1rem;
		   	text-align: center;
		   }
			ul {
				height: 100%;
				width: 100%;
				li {
					margin-bottom: 0.1rem;
				}
				h3 {
					color: @color-carnation;
				    font-size: 1.3rem;
				    height: 2.6rem;
				    margin-top: 0;
				    text-align: center;
					span {
						float: right;
						font-size: 0.7rem;
					}
				}
				.cardAdressPhone {
					color: @color-carnation;
					font-size: 1.5rem;
					font-weight: bold;
				}
			}
			.iconCard {
				left: 0.5rem;
				margin-right: 0.5rem;
				margin-top: -1.45rem;
				position: absolute;
				top: 50%;
				span {
				    background: @color-carnation;
				    border-radius: 100%;
				    color: @color-white;
				    display: block;
				    font-size: 1.5rem;
				    font-weight: bold;
				    height: 3.5rem;
				    line-height: 3.5rem;
				    text-align: center;
				    text-transform: uppercase;
				    width: 3.5rem;
				}
			}
		}
	}
}
.addressBackBtn {
	background: transparent;
	border: 0;
	font-weight: normal;
}

.viewHover {
	background: @color-white;
	box-shadow: 1px 1px 2px #e6e6e6;
	cursor: default;
	overflow: hidden;
	position: relative;
	text-align: left;
	h2 {
		color: @color-white;
		filter: alpha(opacity=0);
		font-size: 2rem;
		height: 6rem;
		opacity: 0;
		text-align: center;
		transform: translateY(-100px);
	   transition: all 0.2s ease-in-out;
	}

	.listActions {
		text-align: center;
			li {
				display: inline-block;
				.linkActionAddress {
					background: #EF5664;
					border-radius: 100%;
					color: #FFFFFF;
					font-weight: bold;
					height: 2rem;
					line-height: 2.3rem;
					text-align: center;
					transition: 0.5s all;
					width: 2rem;
					&:hover {
						background: #ef5664;
						color: @color-white;
					}
				}
			}
		}
	.mask {
		@media screen and @mquery-desktop-min {
		   background-color: rgba(239,86,100, 0.7);
		   filter: alpha(opacity=0);
		   height: 100%;
		   left: 0;
		   opacity: 0;
		   overflow: hidden;
		   position: absolute;
		   top: 0;
		   transition: all 0.4s ease-in-out;
		   width: 100%;
		}
		.listActions {
			@media screen and @mquery-desktop-min {
				text-align: center;
			}
			li {
				display: inline-block;
				.linkActionAddress {
					background: @color-gray;
					border-radius: 100%;
					color: @color-carnation;
					font-weight: bold;
					height: 2rem;
					line-height: 2.4rem;
					text-align: center;
					transition: 0.5s all;
					width: 2rem;
					@media screen and @mquery-desktop-min {
						background: @color-white;
					}
					&:hover {
						background: @color-black;
						color: @color-white;
					}
				}
			}
		}
	}
	&:hover {
		.mask {
			@media screen and @mquery-desktop-min {
				filter: alpha(opacity=100);
				opacity: 1;
			}
		}
		h2{
			@media screen and @mquery-desktop-min {
			   opacity: 1;
			   transform: translateY(0px);
			}
		}
	}
}
.account-section-header-add-bottom {
	margin-left: 0.4rem;
	text-align: left;
}
.addressItem {
	.actions {
		text-align: center;
	}
}

.addAddress {
	float: right;
}
.returnAddressPage {
	float: right;
}
.page-address-book .account-section a:hover {
     color: #FFF;
}
