.account-section {
	.dataTable {
		thead {
			.sorting {
				background-image: url('@{img-shared-path}dataTables/sort_both.png');
				&_asc {
					background-image: url('@{img-shared-path}dataTables/sort_asc.png');
				}
				&_desc {
					background-image: url('@{img-shared-path}dataTables/sort_desc.png');
				}
			}
		}
	}
}

#orderHistoryDataTable_info {
	display: none;
}

#orderHistoryDataTable_length {
	display: none;
}

#orderHistoryDataTable_filter {
	display: none;
}
