html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	font-family: @font-family-base, arial, sans-serif;
	font-size: unit((@font-size-base / @base-width-mobile) * 100, vw); // @media @mquery-tablet {
	text-size-adjust: 100%; // 	.font-size((@font-size-base / 2), vw);
	// }
	@media @mquery-mobile-l {
		font-size: unit(((@font-size-base / @base-width-mobile) * 100) / 2, vw);
	}
	@media @mquery-tablet {
		font-size: unit(((@font-size-base / @base-width-tablet) * 100), vw);
	}
	@media @mquery-tablet-l {
		font-size: unit((@font-size-base-desktop / @base-width-desktop) * 100 * 2, vw);
	}
	@media @mquery-desktop {
		font-size: unit((@font-size-base-desktop / @base-width-desktop) * 100 * (@font-size-base / @font-size-base-desktop), vw); // (@font-size-base-desktop / @base-width-desktop) * 100 * (@font-size-base / @font-size-base-desktop)
	}
	@media @mquery-desktop-lg {
		font-size: 24pxi;
	}
}

html,
body {
	-webkit-overflow-scrolling: touch;
	height: 100%;
	margin: 0;
	padding: 0;
}

a:focus,
 :focus {
	outline: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
