@screenXsExtra: 320px;
@screenXs: 480px;
@screenSm: 640px;
@screenMd: 1024px;
@screenLg: 1920px;

@screenXsExtraMin: 319px;
@screenXsMin: 479px;
@screenSmMin: 639px;
@screenMdMin: 1023px;
@screenLgMin: 1919px;

@screenXsExtraMax: 480px;
@screenXsMax: 640px;
@screenSmMax: 1024px;
@screenMdMax: 1920px;
